<div class="container-fluid bg-dark text-white text-center">
    <div class="row mb-3">
        <div class="col">
            <img src="https://via.placeholder.com/300x175" alt="" srcset="">
        </div>
    </div>
    <div class="row g-3 text-center justify-content-center">
        <div class="col-6 form">
            <form [formGroup]="loginForm">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="john@doe.com">
                    <div class="form-text"><a routerLink="/forgot">Forgot email</a></div>
                </div>
                <div class="mb-3">
                    <label for="pw" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password">
                    <div class="form-text"><a routerLink="/forgot">Forgot password</a></div>
                </div>
                <button class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>
</div>