<app-guarded-navbar></app-guarded-navbar>
<!--Add some cards here with shortcuts to ie clients, own invoices, invoices to be sent etc.-->

<div class="container">
    <div class="row hidden-md-up">
        <div class="col-4">
            <div class="card bg-dark" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Clients</h5>
                    <h6 class="card-subtitle mb-2 text-muted">[put recent client here]</h6>
                    <p class="card-text">
                        Manage your clients.
                    </p>
                    <a routerLink="/clients" routerLinkActive="active" class="card-link">Go to clients</a>
                </div>
            </div>
        </div>
    </div>
</div>